@model Cart

<h2>Моя корзина</h2>

@{
    if (Model == null)
    {
        <h3>Корзина пустая</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="col-5">@item.Product.Name</td>
                        <td class="col-3">@item.Product.Cost руб.</td>
                        <td class="col-3 plus-minus">
                            <a id="minus">
                                <span class="material-icons" onclick="window.location.href='/cart/remove?productId=@item.Product.Id'" style="cursor: pointer;">
                                    remove_circle_outline
                                </span>
                            </a>
                            @item.Amount
                            <a id="plus">
                                <span class="material-icons" onclick="window.location.href='/cart/add?productId=@item.Product.Id'" style="cursor: pointer;">
                                    add_circle_outline
                                </span>
                            </a>
                        </td>
                        <td class="col-1">@item.Cost руб.</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <h5 class="text-sm-end">Итого: @Model.Cost руб.</h5>
            </div>
        </div>

        <div class="text-center">
            <a role="button" class="btn btn-dark" href="@Url.Action("Index", "Home")">Продолжить покупки</a>
            <a role="button" class="btn btn-dark" href="@Url.Action("Index", "Order")">Оформить заказ</a>
            <a role="button" class="btn btn-dark"  href="@Url.Action("Clear", "Cart")">Очистить корзину</a>
        </div>
    }
}



