@model List<ProductViewModel>

<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <h2>Список продуктов</h2>
        <a class="btn btn-dark" asp-area="Admin" asp-controller="Product" asp-action="Create">Добавить новый продукт</a>
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1" scope="col">№</th>
                    <th class="col-5" scope="col">Название</th>
                    <th class="col-3" scope="col">Цена</th>
                    <th class="col-2" scope="col"></th>
                    <th class="col-2" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Cost ₽</td>
                        <td>
                            <a class="btn btn-dark" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-productId="@Model[i].Id">Редактировать</a>
                        </td>
                        <td>
                            <a class="btn btn-dark" asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-productId="@Model[i].Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
