@model Cart

<h2>Корзина</h2>
@{
    if (Model == null || Model.Items.Count == 0)
    {
        <h4>В корзине пока нет товаров</h4>
    }

    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Items[i].Product.Name</td>
                        <td>@Model.Items[i].Product.Cost ₽</td>
                        <td>
                            <a style="cursor:pointer" asp-area="" asp-controller="Cart" asp-action="Remove" asp-route-productId="@Model.Items[i].Product.Id">
                                <img src="../img/icons/remove_circle_outline_black_24dp.svg" />
                            </a>
                            @Model.Items[i].Amount
                            <a style="cursor:pointer" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@Model.Items[i].Product.Id">
                                <img src="../img/icons/add_circle_outline_black_24dp.svg" />
                            </a>
                        </td>
                        <td>@Model.Items[i].Cost ₽</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <h4> Итоговая сумма: @Model.Cost ₽</h4>
        </div>
        <div class="row justify-content-md-center">
            <a class="col-2 btn btn-dark" style="margin-right: 5px" asp-area="" asp-controller="Order" asp-action="Index">Оформить заказ</a>
            <a class="col-2 btn btn-dark" style="margin-right: 5px" asp-area="" asp-controller="Home" asp-action="Index">Продолжить покупки</a>
            <a class="col-2 btn btn-dark" style="margin-right: 5px" asp-area="" asp-controller="Cart" asp-action="Clear">Очистить корзину</a>
        </div>
    }
}