@model Cart


@{
    if (Model == null || Model.Items.Count == 0)
    {
        <h2>В корзине пока нет товаров</h2>
    }

    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model.Items[i].Product.Name</td>
                        <td>@Model.Items[i].Product.Cost ₽</td>
                        <td>
                            <img src="../img/icons/remove_circle_outline_black_24dp.svg" style="cursor:pointer" onclick="window.location.href='/cart/remove?productId=@Model.Items[i].Product.Id'" alt="Alternate Text" />
                            @Model.Items[i].Amount
                            <img src="../img/icons/add_circle_outline_black_24dp.svg" style="cursor:pointer" onclick="window.location.href='/cart/add?productId=@Model.Items[i].Product.Id'" alt="Alternate Text" />
                        </td>
                        <td>@Model.Items[i].Cost ₽</td>
                    </tr>
                }
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h4>Итоговая сумма: @Model.Cost ₽</h4></td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-md-center">
            <button class="col-2 btn btn-dark">Оформить заказ</button>
            <button class="col-2 btn btn-dark">Продолжить покупки</button>
        </div>
    }
}