@model List<Product>

<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <h2>Список продуктов</h2>
        <a asp-area="" asp-controller="Admin" asp-action="CreateNewProduct">Добавить новый продукт</a>
        <table class="table">
            <thead>
                <tr >
                    <th scope="col">№</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Cost ₽</td>
                        <td>
                            <a class="btn btn-dark" onclick="window.location.href='@Url.Action("EditProduct", "Admin", new { productId = Model[i].Id })'">Редактировать</a>
                        </td>
                        <td>
                            <a class="btn btn-dark" onclick="window.location.href='@Url.Action("RemoveProduct", "Admin", new { productId = Model[i].Id })'">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
