@model UserAccount;

@{string permissions = ""; }
@foreach (var role in Model.Roles)
{
    permissions = "*" + permissions + " " + role.Name;
}
<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")

    <div class="col-9">
        <h3>Пользователь @Model.Login</h3>
        <br />
        <div class="row">
            <p class="col-4">Логин:</p>
            <p class="col-5">@Model.Login</p>
        </div>
        <div class="row">
            <p class="col-4">Телефон:</p>
            <p class="col-5">@Model.Phone</p>
        </div>
        <div class="row">
            <p class="col-4">Роль:</p>
            <p class="col-5">@permissions</p>
        </div>


        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Действия
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-login="@Model.Login">Смена пароля</a></li>
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-login="@Model.Login">Редактирование данных</a></li>
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Permissions" asp-route-login="@Model.Login">Права доступа</a></li>
                <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Remove" asp-route-login="@Model.Login">Удалить пользователя</a></li>
            </ul>
        </div>
    </div>
</div>
