@model Order
<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    @{
        var day = $"{@Model.OrderTime.Date.Day}";
        var month = $"{@Model.OrderTime.Date.Month}";
        var year = $"{@Model.OrderTime.Date.Year}";

        var hours = $"{@Model.OrderTime.TimeOfDay.Hours}";
        var minutes = $"{@Model.OrderTime.TimeOfDay.Minutes}";

        if (@Model.OrderTime.Date.Day < 10)
            day = $"0{@Model.OrderTime.Date.Day}";

        if (@Model.OrderTime.Date.Month < 10)
            month = $"0{@Model.OrderTime.Date.Month}";

        var dateTime = $"{day}.{month}.{year} в {hours}:{minutes}";

        var totalCost = @Model.Items.Sum(q => q.Cost);
    }
    <div class="col-9">
        <h3>Заказ №</h3>
        <br />
        <div class="row">
            <p class="col">Дата и время оформления:</p>
            <p class="col">@dateTime</p>
        </div>
        <div class="row">
            <p class="col">Адрес доставки:</p>
            <p class="col">@Model.UserDeliveryInfo.UserAddress.City, @Model.UserDeliveryInfo.UserAddress.Street, @Model.UserDeliveryInfo.UserAddress.HomeNo</p>
        </div>
        <div class="row">
            <p class="col">Получатель:</p>
            <p class="col">user@mail.ru</p>
        </div>
        <div class="row">
            <p class="col">Телефон:</p>
            <p class="col">@Model.UserDeliveryInfo.Phone</p>
        </div>
        <div class="row">
            <p class="col">Email:</p>
            <p class="col">@Model.UserDeliveryInfo.Email</p>
        </div>
        <div class="row">
            <p class="col">Комментарий:</p>
            <p class="col">@Model.UserDeliveryInfo.Comment</p>
        </div>
        <div class="row">
            <p class="col">Сумма заказа:</p>
            <p class="col">@totalCost ₽</p>
        </div>
        <div class="row">
            <p class="col">Статус заказа:</p>
            <div class="col" class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Создан
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">Создан</li>
                    <li class="dropdown-item">Обработан</li>
                    <li class="dropdown-item">В пути</li>
                    <li class="dropdown-item">Отменен</li>
                    <li class="dropdown-item">Доставлен</li>
                </ul>
            </div>
        </div>

    </div>
</div>
