@model List<Product>

<div class="d-flex justify-content-center">
    <form action="/" method="post">
        <div class="mb-3  d-md-inline-flex" style="width: 600px">
            <input type="text" class="form-control" name="query" placeholder="Поиск...">
            <div>
                <button class="btn btn-dark d-flex align-items-center justify-content-center" type="submit">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4 card">
            <div class="card-body">
                <h4 class="product-name" onclick="window.location.href='@Url.Action("Index", "Product", new { id = product.Id })'" style="cursor: pointer;">@product.Name</h4>
                <img class="card-img-top" src="@Url.Content(product.ImgPath)" />
                <h5>
                    Цена: @product.Cost ₽
                </h5>
                <form>
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button class="btn btn-dark add-to-favorite-btn" type="button" data-product-id="@product.Id" @(product.IsFavorite ? "disabled" : "")>@(product.IsFavorite ? "Добавлено в избранное" : "Добавить в избранное")</button>
                </form>
                <a class="btn btn-dark product" role="button" href="/cart/add?productId=@product.Id">Добавить в корзину</a>
            </div>
        </div>
        <br />
    }
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.add-to-favorite-btn').click(function () {
            var button = $(this);
            var productId = button.data('product-id');

            $.ajax({
                url: '@Url.Action("Add", "Favorite")',
                type: 'POST',
                data: { productId: productId },
                success: function () {
                    button.addClass('added-to-favorite');
                    button.attr('disabled', true);
                },
                error: function () {
                    alert('Ошибка при добавлении товара в избранное');
                }
            });
        });
    });
</script>